/*
#content_element_source_list
{
  margin: 0;
}

#content_element_source_list > li
{
  list-style-type: none;
  border: 1px solid #AAAAAA;
  padding: 3px 0;
  margin: 5px 0;
}

#content_element_source_list .contents
{
  border: 1px solid #DDDDDD;
  margin: 5px 0;
}

#content_element_source_list .contents li
{
  list-style-position: inside;
  padding: 1px 3px;
}

#content_element_source_list .contents li.odd
{
  background: #DDDDDD;
}

#content_element_source_list .contents li.even
{
  background: #EEEEEE;
}
*/
