#sf_admin_content
{
  display:table;
  width: 100%;
}

#gj_page_admin_page,
#gj_page_admin_design_elements,
#gj_page_admin_content_elements
{
  display:table-cell;
  vertical-align: top;
}

#gj_page_admin_page
{
width:600px;
}

#gj_page_admin_design_elements,
#gj_page_admin_content_elements
{
  margin-left: 10px;
  height:100%;
  overflow: auto;
  border: 1px solid #666;
  padding: 8px;
}

#design_element_source_list,
#design_element_target_list > ol
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  background: #eee;
  padding: 5px;
}

#design_element_source_list > li,
#design_element_target_list > * > li
{
  margin: 5px;
  padding: 5px;
  display: block;
  border: 1px solid gray;
}

.design-elements-head a { float:right; }
.design-elements-head strong { clear:right; }

#content_element_target_list > * > li
{
  list-style-type: circle;
}


