.composition-canvas,
.design-element-canvas
{
  background:  #EEEEEE;
}

.composition-canvas,
#design_element_source_list,
#content_element_source_list,
.design-element-canvas
{
  margin: 0;
  padding: 3px 0;
}

.design-element-canvas
{
  border: 1px dotted #888888;
  list-style-position: inside;
  margin-bottom: 3px;
}

.composition-canvas.open,
.design-element-canvas.open
{
  border: 1px dotted #AAFF88;
  background: url(/gjPositionsPlugin/images/drop-here.png) center center no-repeat;
  background-color: #DDFFCC;
  min-height: 1em;
}

.composition-canvas > li,
#design_element_source_list > li,
#content_element_source_list > li
{
  list-style-type: none
}

#design_element_source_list > li:hover,
#content_element_source_list > li:hover
{
  cursor: move;
}

.design-element,
.content-element
{
  margin: 2px 0;
  padding: 2px;
}

.design-element
{
  background:  #FFFFFF;
  cursor: n-resize;
  border: 1px dotted #888888;
  padding-bottom: 5px;
}

.content-element
{
  background:  #F8F8F8;
  cursor: n-resize;
  border: 2px solid #FFFFFF;
  list-style-position: inside;
}

#sf_admin_container fieldset.design-element-params
{
  background: #CCCCCC;
  padding: 2px 2px 4px;
}

#sf_admin_container fieldset.design-element-params label
{
  position: absolute;
  width: 90px;
}

#sf_admin_container fieldset.design-element-params input,
#sf_admin_container fieldset.design-element-params textarea,
#sf_admin_container fieldset.design-element-params select
{
  margin-left: 100px;
}

li.design-element a.button
{
    float: right;
}
li.design-element a.remove
{
  background: url(../../sfAdminDashPlugin/images/delete.png) no-repeat 0 2px;
  padding-left: 15px;
}