@import url('/gjPositionsPlugin/css/design_elements.css');
@import url('/gjPositionsPlugin/css/content_elements.css');

.content > .positions_container
{
  margin: 0;
  min-height:40px;
  border:1px dotted #EEEEEE;
}

.content > .positions_container > li
{
  border:1px solid #AAAAAA;
  list-style-type:none;
  margin:5px 0;
  padding:3px 0;
}

